@use '../../includes/colors' as colors;
@use '../../includes/typography' as fonts;
@use '../../includes/variables' as vars;

.skill-icon {
  width: 2.5rem;
  transition: vars.$trs-05;
  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}

.skills-box {
  min-width: 12%;
  text-align: center;
  padding: 0.25rem;
  margin-inline: 0.10rem;
  border: 1px solid transparent;
  border-radius: 0.75rem;
  transition: vars.$trs-02;
  &:hover {
    background-color: colors.$white;
    border-color: colors.$weakRed;
  }
  &:hover .skills-name {
    color: colors.$black25;
  }
}

.skills-name {
  margin-bottom: 0.35rem;
  font-size: 0.8rem;
  font-weight: 400;
}

/*---------- to 479px -----------*/

@media all and (max-width: 480px) {

  .skills-box {
    min-width: 25%;
    .skills-name {
      font-size: 0.8rem;
    }
  }
}

/*---------- 481px to 767px -----------*/

@media all and (min-width: 481px) and (max-width: 767px) {

  .skills-box {
    min-width: 25%;
  }
}

/*--------- 768px to 959px ----------*/

@media all and (min-width: 768px) and (max-width: 959px) {

  .skills-box {
    min-width: 30%;
  }
}

/*--------- 959px to 1023px ----------*/

@media all and (min-width: 959px) and (max-width: 1200px) {

  .skills-box {
    min-width: 20%;
  }
}