@use '../../includes/colors' as colors;
@use '../../includes/typography' as fonts;
@use '../../includes/variables' as vars;
@use '../../includes/mixins' as mx;

.skills-wrapper {
  @include mx.flexColCenter();
  .skills-section {
    width: 80%;
    h3 {
      font-weight: 500;
      font-size: 1rem;
    }
  }
}

.skills-container {
  @include mx.flexRowCenter();
  .skills-subcontainer {
    width: 100%;
    @include mx.flexRowCenter();
    flex-wrap: wrap;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    border: 1px solid colors.$firstColor;
    border-radius: 0.5rem;
    background-color: colors.$black15;
    transition: 0.3s linear all !important;
    &:hover {
      background-color: colors.$secondColor;
    }
    &:hover .skills-name {
      color: colors.$darkGray;
    }
  }
}

/*---------- to 479px -----------*/

@media all and (max-width: 480px) {

  .skills-wrapper .skills-section {
    width: 90%;
    .skills-container {
      justify-content: space-evenly;
    }
  }
}
