@use './includes/colors' as colors;
@use './includes/typography' as fonts;
@use './includes/variables' as vars;

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: fonts.$globalFont;
}

html {
  background-color: colors.$clearWhite;
}

main {
  overflow-x: hidden !important;
}

*::selection {
  background-color: colors.$mainRed;
  color: colors.$white;
  text-shadow: none;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
}

a {
  text-decoration: none;
}

p {
  text-wrap: pretty;
}

.subtitle {
  margin-bottom: 1rem;
  font-family: "Ubuntu Sans Mono", monospace;
}