@use '../../includes/colors' as colors;
@use '../../includes/typography' as fonts;
@use '../../includes/variables' as vars;
@use '../../includes/mixins' as mx;

.service-card {
  width: 26%;
  @include mx.flexColCenter();
  padding: 1.25rem 1rem;
  gap: 1rem;
  background-color: colors.$bgColor;
  color: colors.$black15;
  border: 1px solid colors.$weakRed;
  border-left: 5px solid colors.$firstColor;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.05rem 0.1rem colors.$black25;
  transition: vars.$trs-03;
  &:hover {
    border-left-color: colors.$thirdColor;
    box-shadow: 0rem 0.1rem 0.3rem colors.$black25;
    .service-title {
      color: colors.$darkerGrey;
    }
    .service-text {
      color: colors.$darkerGrey;
    }
  }
  .service-fig {
    width: 20%;
    img {
      width: 100%;
      transition: vars.$trs-03;
      &:hover {
        cursor: pointer;
        transform: scale(1.1);
        z-index: 10;
      }
    }
  }
  .service-title {
    text-transform: capitalize;
    text-align: center;
    font-family: fonts.$ubuntuCond;
    font-size: 1.25rem;
    font-weight: 500;
    transition: vars.$trs-03;
  }
  .service-text {
    font-size: 1rem;
    transition: vars.$trs-03;
  }
}

@media all and (max-width: 480px) {

  .service-card {
    width: 90%;
  }
}

@media all and (min-width: 481px) and (max-width: 767px) {

  .service-card {
    width: 80%;
  }
}

@media all and (min-width: 768px) and (max-width: 959px) {

  .service-card {
    width: 35%;
  }
}