.project-div {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0.5rem;
  color: #151515;
  border: 1px solid #70000070;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.05rem 0.1rem #252525;
}

.project-name {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  font-family: "Ubuntu Condensed", sans-serif;
}

.project-fig {
  width: 100%;
  margin-bottom: 0.75rem;
}

.project-fig .project-cover-link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 0.5rem;
}

.project-img {
  width: 100%;
  border: 1px solid #70000070;
  border-radius: 0.5rem;
  transition: 0.3s linear all;
}

.project-img:hover {
  transform: scale(1.05);
}

.project-description {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
}

.project-links-div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.project-link {
  width: 6.5rem;
  background-color: #700000;
  color: #f6f6f6;
  padding: 0.25rem 0.5rem;
  border-radius: 3rem;
  text-align: center;
  font-size: 1.10rem;
  font-weight: 500;
  font-family: "Ubuntu Condensed", sans-serif;
  transition: 0.2s linear all;
}

.project-link:hover {
  background-color: #151515;
}

.project-link:focus {
  background-color: #151515;
  color: rgb(225, 0, 0);
}

/*---------- to 375px ----------*/

@media all and (max-width: 480px) {

  .project-links-div {
    flex-direction: column;
  }

  .project-link {
    width: 100%;
    margin-bottom: 0.7rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

}

/*---------- to 480px ----------*/

@media all and (max-width: 480px) {
 
  .project-div {
    width: 100%;  
    padding: 1rem;
  }

}

@media all and (min-width: 481px) and (max-width: 767px) {

  .project-div {
    width: 100%;
  }

  .project-link {
    width: 8rem;
  }

}

@media all and (max-width: 767px) {

  .project-div {
    margin-bottom: 1.5rem;
  }

}

@media all and (min-width: 768px) and (max-width: 959px) {

  .project-div {
    width: 45%;
  }

  .project-link {
    width: 7rem;
  }

}

@media all and (max-width: 1023px) {

  .project-div {
    margin-bottom: 1.5rem;
  }  

}

@media all and (min-width: 960px) and (max-width: 1023px) {

  .project-div {
    width: 45%;
  }

  .project-link {
    width: 6.5rem;
  }

}