@use '../../sass/includes/colors' as colors;
@use '../../sass/includes/typography' as fonts;
@use '../../sass/includes/variables' as vars;

.project-div {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0.5rem;
  color: colors.$black15;
  border: 1px solid colors.$weakRed;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.05rem 0.1rem colors.$black25;

  .project-name {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    font-family: fonts.$ubuntuCond;
  }
}

.project-fig {
  width: 100%;
  margin-bottom: 0.75rem;

  .project-cover-link {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 0.5rem;

    .project-img {
      width: 100%;
      border: 1px solid colors.$weakRed;
      border-radius: 0.5rem;
      transition: vars.$trs-05;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

.project-description {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
}

.project-links-div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.project-link {
  width: 6.5rem;
  background-color: colors.$mainRed;
  color: colors.$white;
  padding: 0.25rem 0.5rem;
  border-radius: 3rem;
  text-align: center;
  font-size: 1.10rem;
  font-weight: 500;
  font-family: fonts.$ubuntuCond;
  transition: vars.$trs-02;
  box-shadow: 0rem 0.1rem 0.1rem colors.$black25;

  &:hover {
    background-color: colors.$red;
  }
  &:focus {
    background-color: colors.$red;
    color: colors.$black;
    box-shadow: 0rem 0rem 0rem colors.$black25;
  }
}

/*---------- to 375px ----------*/

@media all and (max-width: 480px) {

  .project-links-div {
    flex-direction: column;

    .project-link {
      width: 100%;
      margin-bottom: 0.7rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }
}

/*---------- to 480px ----------*/

@media all and (max-width: 480px) {
 
  .project-div {
    width: 100%;  
    padding: 1rem;
  }
}

@media all and (min-width: 481px) and (max-width: 767px) {

  .project-div {
    width: 100%;
  }

  .project-link {
    width: 8rem;
  }
}

@media all and (max-width: 767px) {

  .project-div {
    margin-bottom: 1.5rem;
  }
}

@media all and (min-width: 768px) and (max-width: 959px) {

  .project-div {
    width: 45%;
  }

  .project-link {
    width: 7rem;
  }
}

@media all and (max-width: 1023px) {

  .project-div {
    margin-bottom: 1.5rem;
  }  
}

@media all and (min-width: 960px) and (max-width: 1023px) {

  .project-div {
    width: 45%;
  }

  .project-link {
    width: 6.5rem;
  }
}