@use '../../includes/colors' as colors;
@use '../../includes/typography' as fonts;
@use '../../includes/variables' as vars;
@use '../../includes/mixins' as mx;

.form-wrapper {
  width: 60%;
  min-width: 65%;
  @include mx.flexColCenter();
}

#contact-form {
  width: 100%;
  @include mx.flexRowCenter();
  flex-wrap: wrap;
  background-color: colors.$black10;
  border: 1px solid colors.$thirdColor;
  border-radius: 0.5rem;
  padding: 1.25rem;
  transition: vars.$trs-03;
  &:hover {
    border: 1px solid colors.$firstColor;
    box-shadow: 0rem 0.05rem 0.1rem colors.$thirdColor;
  }
  &:hover .contact-fieldset {
    border-top: 1px solid colors.$firstColor;
  }
}

.contact-fieldset {
  width: 95%;
  @include mx.flexColCenter();
  border-top: 1px solid colors.$thirdColor;
  transition: vars.$trs-03;
  color: colors.$white;
  .form-legend {
    width: auto;
    text-align: center;
    font-size: 1.10rem;
    font-weight: 400;
    padding: 1rem 0.75rem;
    margin-bottom: 1.25rem;
    color: colors.$white;
  }
}

.contact-field {
  width: 100%;
  @include mx.flexRow(vars.$between, center);
  flex-wrap: wrap;
}

.form-div {
  width: 45%;
  @include mx.flexCol(center, flex-start);
  margin-bottom: 1rem;
  .form-label {
    @include mx.flexRow(flex-start, center);
    margin-bottom: 0.5rem;
    transition: vars.$trs-03;
    &:hover {
      color: colors.$firstColor;
      cursor: pointer;
    }
  }
}

.form-icon {
  margin-right: 0.25rem;
}

.not-necessary-span {
  margin-left: 0.25rem;
  font-size: 0.8rem;
  font-weight: 300;
}

.form-div input {
  width: 100%;
  font-size: 0.9rem;
  padding: 0.25rem;
  border-bottom: 1px solid colors.$thirdColor;
  border-radius: 0.25rem;
  transition: 0.2s linear all;
  margin-bottom: 0.25rem;
  background-color: colors.$black10;
  color: colors.$white;
  &:hover {
    border-bottom: 1px solid colors.$thirdColor;
  }
  &:focus {
    outline: 1px solid colors.$thirdColor;
    border-bottom: 1px solid transparent;
    box-shadow: 0rem 0.1rem 0.1rem 0rem colors.$thirdColor;
    background-color: colors.$bgColor;
  }
  &::placeholder {
    color: colors.$grey;
  }
}

.textarea-div {
  width: 100%;
}

.form-div textarea {
  width: 100%;
  font-size: 0.9rem;
  padding: 0.5rem;
  border: 1px solid colors.$thirdColor;
  border-radius: 0.25rem;
  resize: none;
  background-color: colors.$black10;
  color: colors.$white;
  transition: vars.$trs-02;
  &:hover {
    border: 1px solid colors.$firstColor;
  }
  &:focus {
    outline: 1px solid colors.$firstColor;
    border: 1px solid transparent;
    background-color: colors.$bgColor;
    box-shadow: 0rem 0.1rem 0.1rem 0rem colors.$thirdColor;
  }
}

.result-div {
  margin-bottom: 1rem;
  padding-inline: 0.25rem;
  .result-msg {
    font-size: 0.9rem;
    color: colors.$white;
  }
}

@media all and (max-width: 480px) {

  #contact-form {
    padding: 0.35rem;
  }

  .form-wrapper {
    width: 90%;
    min-width: 90%;
  }

  .form-legend {
    font-size: 1.05rem;
    padding-inline: 0.5rem;
  }

  .form-div {
    width: 95%;
  }
}

@media all and (min-width: 481px) and (max-width: 767px) {

  #contact-form {
    padding: 0.5rem;
  }

  .form-wrapper {
    width: 80%;
    min-width: 80%;
  }
}

@media all and (min-width: 768px) and (max-width: 959px) {

  .form-wrapper {
    width: 70%;
  }
}

@media all and (max-width: 767px) {

  .contact-fieldset {
    width: 95%;
  }

  .contact-field {
    flex-direction: column;
  }

  .form-div {
    min-width: 100%;
  }

}

@media all and (min-width: 960px) {

  .form-label {
    margin-bottom: 0.35rem;
  }
}