@use '../../includes/colors' as colors;
@use '../../includes/typography' as fonts;
@use '../../includes/variables' as vars;
@use '../../includes/mixins' as mx;

.contact-card {
  width: 65%;
  max-width: 65%;
  @include mx.flexCol(vars.$evenly, flex-start);
  .contact-card-title {
    margin-bottom: 1.5rem;
  }
  p {
    margin-bottom: 1.5rem;
    line-height: 1.25rem;
  }
}

@media all and (max-width: 480px) {

  .contact-card {
    width: 90%;
    max-width: 90%;
  }
}

@media all and (min-width: 481px) and (max-width: 767px) {

  .contact-card {
    width: 80%;
    max-width: 80%;
  }
}

@media all and (max-width: 767px) {

  .contact-card p {
    margin-bottom: 0.75rem;
  }
}

@media all and (min-width: 768px) and (max-width: 959px) {

  .contact-card {
    width: 70%;
    max-width: 70%;
  }
}
