@use '../../includes/colors' as colors;
@use '../../includes/typography' as fonts;
@use '../../includes/variables' as vars;

.form-buttons-div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .form-btn {
    width: 11rem;
    border-radius: 3rem;
    padding: 0.5rem;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
    color: colors.$white;
    text-shadow: 0rem 0rem 0.1rem colors.$black25;
    box-shadow: 0rem 0.1rem 0.1rem colors.$black25;
    transition: 0.2s linear all;
    cursor: pointer;

    &:focus {
      box-shadow: 0rem 0rem 0rem colors.$black25;
    }
  }
}

.send-btn {
  background-color: colors.$red;

  &:hover {
    background-color: colors.$darkRed;
  }
  &:focus {
    background-color: colors.$darkRed;
  }
}

.reset-btn {
  background-color: colors.$slateGray;

  &:hover {
    background-color: colors.$darkSlate;
  }
  &:focus {
    background-color: colors.$darkSlate;
  }
}

@media all and (max-width: 376px) {

  .form-buttons-div {
    .form-btn {
      width: 100%;
    }
  }
}

@media all and (max-width: 480px) {

  .form-buttons-div {
    flex-direction: column;
    justify-content: center;
  }

}

@media all and (min-width: 481px) and (max-width: 767px) {

  .form-btn {
    width: 45%;
  }
}

@media all and (max-width: 767px) {

  .form-btn {
    margin-bottom: 1rem;
  }
}