.skills-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-section {
  width: 80%;
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  margin-bottom: 1.75rem;
}

.skills-box {
  min-width: 12%;
  text-align: center;
  padding: 0.5rem;
}

.skills-name {
  margin-bottom: 0.25rem;
  font-size: 0.9rem;
}