@use '../../sass/includes/colors' as colors;
@use '../../sass/includes/typography' as fonts;
@use '../../sass/includes/variables' as vars;

.skills-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;

  .subtitle {
    margin-bottom: 1.5rem;
  }

  .skills-section {
    width: 80%;
    
    h3 {
      font-weight: 500;
      font-size: 1rem;
    }
  }
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-top: 0.5rem;
  margin-bottom: 1.75rem;
  border: 1px solid colors.$mainRed;
  border-radius: 0.5rem;
  transition: vars.$trs-02;

  &:hover {
    background-color: colors.$mainRed;
  }
  &:hover .skills-name {
    color: colors.$white;
  }
}

.skill-icon {
  transition: vars.$trs-05;
}

.skills-box {
  min-width: 12%;
  text-align: center;
  padding: 0.25rem;
  margin-inline: 0.10rem;
  border: 1px solid transparent;
  border-radius: 0.75rem;
  transition: vars.$trs-02;

  &:hover {
    background-color: colors.$white;
    border-color: colors.$weakRed;
  }

  &:hover .skills-name {
    color: colors.$black25;
  }
}

.skills-name {
  margin-bottom: 0.35rem;
  font-size: 0.9rem;
  font-weight: 400;
}

/*---------- to 479px -----------*/

@media all and (max-width: 480px) {

  .skills-section {
    width: 90%;

    .skills-container {
      justify-content: space-evenly;
    }
  }

  .skills-box {
    min-width: 25%;

    .skills-name {
      font-size: 0.8rem;
    }
  }
}

/*---------- 481px to 767px -----------*/

@media all and (min-width: 481px) and (max-width: 767px) {

  .skills-box {
    min-width: 25%;
  }
}

/*--------- 768px to 959px ----------*/

@media all and (min-width: 768px) and (max-width: 959px) {

  .skills-box {
    min-width: 30%;
  }
}

/*--------- 959px to 1023px ----------*/

@media all and (min-width: 959px) and (max-width: 1200px) {

  .skills-box {
    min-width: 20%;
  }
}