@use '../../sass/includes/colors' as colors;
@use '../../sass/includes/typography' as fonts;
@use '../../sass/includes/variables' as vars;

.about-card {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;

  .about-card-title {
    margin-bottom: 2.5rem;
    color: colors.$darkBlack;
  }
  
  .about-article {
    margin-bottom: 2.5rem;

    p {
      width: 95%;
      margin-bottom: 1.5rem;
      color: colors.$darkBlack;
      font-weight: 600;
    }
  }
}

.about-card-title, .about-article p {
  text-shadow: 0rem 0rem 0.025rem colors.$white;
}

.about-btns-div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.about-btn {
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4rem;
  text-align: center;
  padding: 0.5rem;
  border-radius: 3rem;
  background-color: colors.$mainRed;
  color: colors.$white;
  transition: vars.$trs-02;
  box-shadow: 0rem 0.1rem 0.1rem colors.$black25;

  &:hover {
    background-color: colors.$red;
  }
  &:focus {
    background-color: colors.$red;
    color: colors.$black;
    box-shadow: 0rem 0rem 0rem colors.$black25;
  }
}

.react-icon {
  margin-left: 0.25rem;
}

/*---------- to 480px -----------*/

@media all and (max-width: 480px) {

  .about-card {
    width: 90%;
  }
}

/*---------- 481px to 767px -----------*/

@media all and (min-width: 481px) and (max-width: 767px) {

  .about-card {
    width: 80%;
  }
}

@media all and (max-width: 575px) {

  .about-btn {
    width: 85%;
  }
}

/*---------- 575px to 767px -----------*/

@media all and (min-width: 576px) and (max-width: 767px) {

  .about-btn {
    width: 75%;
  }
}

/*---------- to 767px -----------*/

@media all and (max-width: 767px) {

  .about-btns-div {
    flex-direction: column;

    .about-btn {
      margin-right: 0rem;
      margin-bottom: 0.75rem;
    }
  }
}

@media all and (max-width: 959px) {

  .about-card {
    .about-card-title, .about-article p {
      color: colors.$white;
      text-shadow: 0rem 0rem 0.025rem colors.$black;
    }
  }


  
}