@use '../../sass/includes/colors' as colors;
@use '../../sass/includes/typography' as fonts;
@use '../../sass/includes/variables' as vars;

.about-wrapper {
  width: 100%;
  min-height: 95vh;
  display: flex;
  justify-content: right;
  align-items: center;
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;

  &::before {
    content: '';
    inset: 0;
    position: absolute;
    z-index: -5;
    background: #020202;
  }
  &::after {
    content: '';
    inset: 0;
    position: absolute;
    z-index: -1;
    background-image: url('/images/about-bg.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.9;
  }
}

/*---------- to 767px -----------*/

@media all and (max-width: 959px) {

  .about-wrapper {
    flex-direction: column;
    justify-content: space-evenly;

    &::after {
      background-position: right;
    }
  }
}