.about-card {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.about-card-title {
  margin-bottom: 2.5rem;
  color: #020202;
}

.about-article {
  margin-bottom: 2.5rem;
}

.about-article p {
  width: 95%;
  margin-bottom: 1.5rem;
  color: #020202;
  font-weight: 600;
}

.about-card-title, .about-article p {
  text-shadow: 0rem 0rem 0.025rem #f6f6f6;
}

.about-btns-div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.about-btn {
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4rem;
  text-align: center;
  padding: 0.5rem;
  border-radius: 3rem;
  background-color: #700000;
  color: #f6f6f6;
  transition: 0.2s linear all;
}

.about-btn:hover {
  background-color: #151515;
}

.about-btn:focus {
  background-color: #151515;
  color: rgb(225, 0, 0);
}

.react-icon {
  margin-left: 0.25rem;
}

/*---------- to 480px -----------*/

@media all and (max-width: 480px) {

  .about-card {
    width: 90%;
  }

}

/*---------- 481px to 767px -----------*/

@media all and (min-width: 481px) and (max-width: 767px) {

  .about-card {
    width: 80%;
  }

}

@media all and (max-width: 575px) {

  .about-btn {
    width: 85%;
  }

}

/*---------- 575px to 767px -----------*/

@media all and (min-width: 576px) and (max-width: 767px) {

  .about-btn {
    width: 75%;
  }

}

/*---------- to 767px -----------*/

@media all and (max-width: 767px) {

  .about-btns-div {
    flex-direction: column;
  }

  .about-btn {
    margin-right: 0rem;
    margin-bottom: 0.75rem;
  }

}
