@use '../../includes/colors' as colors;
@use '../../includes/typography' as fonts;
@use '../../includes/variables' as vars;
@use '../../includes/mixins' as mx;

.about-card {
  width: 50%;
  @include mx.flexCol(vars.$evenly, flex-start);
  .about-card-title {
    margin-bottom: 2.5rem;
    color: colors.$darkBlack;
  }
  .about-article {
    margin-bottom: 2rem;
    p {
      width: 95%;
      margin-bottom: 1.25rem;
      color: colors.$darkBlack;
      font-weight: 600;
      font-size: 1.1rem;
      line-height: 1.35rem;
    }
  }
}

.about-card-title, .about-article p {
  text-shadow: 0rem 0rem 0.1rem colors.$white;
}

.about-article .about-article-para a {
  color: colors.$secondColor;
  transition: vars.$trs-02;
  &:hover {
    color: colors.$thirdColor;
  }
  &:focus {
    color: colors.$thirdColor;
  }
}

.about-btns-div {
  width: 100%;
  @include mx.flexRow(flex-start, center);
}

.about-btn {
  width: 7rem;
  @include mx.flexRowCenter();
  margin-right: 4rem;
  text-align: center;
  padding: 0.5rem;
  border-radius: 3rem;
  background-color: colors.$secondColor;
  color: colors.$white;
  transition: vars.$trs-03;
  box-shadow: 0rem 0.1rem 0.1rem colors.$black25;
  &:hover {
    background-color: colors.$thirdColor;
  }
  &:focus {
    background-color: colors.$thirdColor;
    color: colors.$black;
    box-shadow: 0rem 0rem 0rem colors.$black25;
  }
}

.react-icon {
  margin-left: 0.25rem;
}

/*---------- to 480px -----------*/

@media all and (max-width: 480px) {

  .about-card {
    width: 90%;
  }
}

/*---------- 481px to 767px -----------*/

@media all and (min-width: 481px) and (max-width: 767px) {

  .about-card {
    width: 80%;
  }
}

@media all and (max-width: 575px) {

  .about-btns-div {
    flex-direction: column;
    .about-btn {
      width: 100%;
    }
  }
}

@media all and (min-width: 576px) and (max-width: 959px) {

  .about-btns-div {
    justify-content: space-evenly;
  }
}

@media all and (max-width: 767px) {

  .about-card {
    
    .about-card-title {
      font-size: 1.5rem;
    }
    .about-article p {
      font-size: 1rem;
    }
  }
}

@media all and (min-width: 768px) and (max-width: 959px) {

  .about-card {
    width: 75%;
  }
}

/*---------- to 959px -----------*/

@media all and (max-width: 959px) {

  .about-card {
    .about-card-title, .about-article p {
      color: colors.$white;
      text-shadow: 0rem 0rem 0.1rem colors.$black;
    }
  }

  .about-btns-div {
    .about-btn {
      margin-right: 0rem;
      margin-bottom: 0.75rem;
    }
  }
}
