@use '../../includes/colors' as colors;
@use '../../includes/typography' as fonts;
@use '../../includes/variables' as vars;
@use '../../includes/mixins' as mx;

.about-wrapper {
  @include mx.flexRow(right, center);
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
  &::before {
    @include mx.bgColor(-5, colors.$weakRed, 1);
  }
  &::after {
    opacity: 0.9;
    @include mx.bgHeroImg(-1, '/images/about-bg.webp', 0.9);
    background-attachment: fixed;
  }
}

/*---------- to 767px -----------*/

@media all and (max-width: 959px) {

  .about-wrapper {
    flex-direction: column;
    justify-content: space-evenly;
    &::before {
      background: colors.$black15;
    }
    &::after {
      background-image: url('/images/about-bg-mobile.webp');
      background-position: right;
      opacity: 0.3;
    }
  }
}
