@use '../../includes/colors' as colors;
@use '../../includes/typography' as fonts;
@use '../../includes/variables' as vars;
@use '../../includes/mixins' as mx;

.home-wrapper {
  @include mx.flexRowCenter();
  position: relative;
  &::before {
    @include mx.bgColor(-5, colors.$black25, 0.2);
  }
  &::after {
    @include mx.bgHeroImg(-10, '/images/header-hero.webp', 1);
    background-attachment: fixed;
  }
}

.home-section {
  @include mx.flexRowCenter();
  padding-bottom: 3rem;
  .dev-description {
    @include mx.flexColCenter();
    padding: 0.5rem 1rem 1rem;
    text-align: center;
    gap: 2.5rem;
    margin-bottom: 2rem;
    .dev-name {
      font-size: 2rem;
      margin-bottom: -1rem;
    }
    .dev-job {
      font-family: fonts.$ubuntuMono;
      font-size: 2.75rem;
      display: flex;
      align-items: center;
    }
    .dev-name, .dev-job {
      color: colors.$white;
      text-shadow: 0 0 0.25rem colors.$black;
    }
    .dev-name, .dev-job {
      width: 100%;
    }
  }
}

.dev-buttons-section {
  width: 100%;
  @include mx.flexRow(center, center);
  margin-top: 0;
  gap: 3rem;
  .about-btn {
    margin-right: 0rem;
    .react-dev-icon {
      margin-left: 0.25rem;
    }
  }
}

.dev-btn {
  width: 7rem;
  @include mx.flexRow(center, center);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 0.75rem;
  border-radius: 3rem;
  background-color: colors.$firstColor;
  color: colors.$white;
  box-shadow: 0rem 0.1rem 0.1rem colors.$black25;
  transition: vars.$trs-03;
  &:hover {
    background-color: colors.$secondColor;
    color: colors.$darkGrey;
  }
  &:focus {
    background-color: colors.$thirdColor;
    color: colors.$lightGray;
    box-shadow: 0rem 0rem 0rem colors.$black25;
  }
  .react-dev-icon {
    margin-left: 0.25rem;
  }
}

/*----------- to 480px ----------*/

@media all and (max-width: 480px) {

  .home-section .dev-description {
    max-width: 90%;
    width: 90%;
    padding: 1rem 0rem;
    .dev-name {
      font-size: 1.5rem;
    }
    .dev-para {
      width: 100%;
      padding-left: 0.25rem;
    }
  }
}

@media all and (max-width: 575px) {
  .dev-buttons-section {
    @include mx.flexColCenter();
    gap: 1rem;
    .dev-btn {
      width: 100%;
    }
  }
}

@media all and (max-width: 767px) {

  .home-section {
    .dev-description {
      .dev-job {
        font-size: 2.75rem;
      }
    }
  }

}

/*----------- 480px to 767px ----------*/

@media all and (min-width: 481px) and (max-width: 767px) {

  .dev-description {
    max-width: 80%;
    width: 80%;
  }

  .dev-buttons-section {
    flex-wrap: wrap;
  }
}

/*----------- 768px to 959px ----------*/

@media all and (min-width: 768px) and (max-width: 959px) {

  .dev-buttons-section {
    gap: 2rem;
  }

  .dev-description {
    max-width: 100%;
    width: 100%;
    .dev-btn {
      width: 10rem;
    }
  }

  .dev-btn {
    padding-inline: 2rem;
  }

}

/*----------- to 959px ----------*/

@media all and (max-width: 959px) {
  
  .home-section {
    flex-direction: column;
  }

  .dev-name, .dev-job {
    justify-content: center;
    text-align: center;
  }

  .dev-name, .dev-job {
    text-align: center;
    margin-bottom: 0.75rem;
  }

  .dev-buttons-section {
    .dev-btn {
      margin-right: 0rem;
    }
  }
}

@media all and (min-width: 960px) {

  .dev-description {
    max-width: 100%;
  }
}