@use '../../includes/colors' as colors;
@use '../../includes/typography' as fonts;
@use '../../includes/variables' as vars;
@use '../../includes/mixins' as mx;

.home-wrapper {
  @include mx.flexRowCenter();
}

.home-section {
  @include mx.flexRowCenter();
  padding-bottom: 3rem;

  .dev-description {
    @include mx.flexColCenter();
    padding: 1rem;
    .dev-name {
      margin-bottom: 0.5rem;
      font-size: 1.25rem;
    }
    .dev-job {
      margin-bottom: 0.25rem;
      font-family: fonts.$ubuntuMono;
      font-size: 2.75rem;
      display: flex;
      align-items: center;
      .dev-job-icon {
        padding-left: 0.25rem;
      }
    }
    .dev-country {
      font-size: 1.25rem;
    }
    .dev-para {
      width: 100%;
      font-size: 1.1rem;
      font-weight: 500;
      margin-bottom: 0.5rem;
      line-height: 1.35rem;
    }
    .dev-para:last-of-type  {
      margin-bottom: 1.25rem;
    }
    .dev-para .email-me {
      color: colors.$firstColor;
      transition: vars.$trs-03;
      font-weight: 600;

      &:hover {
        color: colors.$secondColor;
      }
      &:focus {
        color: colors.$secondColor;
      }
    }
    .dev-name, .dev-job, .dev-country {
      width: 100%;
    }
  }
}

.mobile-profile-fig {
  display: none;
}

.profile-fig {
  width: 30%;
  padding: 1rem;
  .profile-img {
    width: 100%;
    transition: vars.$trs-03;
    &:hover {
      filter: drop-shadow(1rem 1rem 0rem colors.$firstColor);
    }
  }
}

.dev-buttons-section {
  width: 100%;
  @include mx.flexRow(flex-start, center);
  margin-top: 0;
}

.dev-btn {
  @include mx.flexRow(center, center);
  margin-right: 4rem;
  text-align: center;
  font-size: 1.25rem;
  padding: 0.75rem;
  border-radius: 3rem;
  background-color: colors.$secondColor;
  color: colors.$white;
  box-shadow: 0rem 0.1rem 0.1rem colors.$black25;
  transition: vars.$trs-03;
  &:hover {
    background-color: colors.$thirdColor;
  }
  &:focus {
    background-color: colors.$thirdColor;
    color: colors.$lightGray;
    box-shadow: 0rem 0rem 0rem colors.$black25;
  }
}

/*----------- to 480px ----------*/

@media all and (max-width: 480px) {

  .home-section .dev-description {
    max-width: 90%;
    width: 90%;
    padding: 1rem 0rem;

    .dev-name {
      font-size: 1.1rem;
    }

    .dev-para {
      width: 100%;
      padding-left: 0.25rem;
    }
  }

  .mobile-profile-fig {
    width: 60%;
  }
}

@media all and (max-width: 767px) {

  .home-section {
    .dev-description {
      .dev-job {
        font-size: 2rem;
      }
      .dev-para {
        font-size: 1rem;
      }
    }
  }

}

/*----------- 480px to 767px ----------*/

@media all and (min-width: 481px) and (max-width: 767px) {

  .dev-description {
    max-width: 80%;
    width: 80%;
  }

  .mobile-profile-fig {
    width: 65%;
  }
}

/*----------- 768px to 959px ----------*/

@media all and (min-width: 768px) and (max-width: 959px) {


  .dev-description {
    max-width: 75%;
    width: 75%;
  }

  .mobile-profile-fig {
    width: 45%;
  }

  .dev-btn {
    padding-inline: 2rem;
  }

}

/*----------- to 959px ----------*/

@media all and (max-width: 959px) {
  
  .home-section {
    flex-direction: column;
  }

  .dev-name, .dev-job {
    justify-content: center;
    text-align: center;
  }

  .dev-name, .dev-job, .dev-country {
    text-align: center;
    margin-bottom: 0.75rem;
  }

  .mobile-profile-fig {
    display: flex;
    padding: 0rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    img {
      width: 100%;
    }   
  }

  .desktop-profile-fig {
    display: none;
  }

  .dev-buttons-section {
    justify-content: space-evenly;

    .dev-btn {
      margin-right: 0rem;
      font-size: 1.5rem;
    }
  }
}

@media all and (min-width: 960px) {

  .dev-description {
    max-width: 40%;
  }
}