@use '../../sass/includes/colors' as colors;
@use '../../sass/includes/typography' as fonts;
@use '../../sass/includes/variables' as vars;

.form-wrapper {
  width: 60%;
  min-width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: colors.$whiteSmoke;
  border: 1px solid colors.$weakRed;
  border-radius: 0.5rem;
  padding: 1.25rem;
  transition: vars.$trs-03;

  &:hover {
    border: 1px solid colors.$mainRed;
    box-shadow: 0rem 0.05rem 0.1rem colors.$black25;
  }
  &:hover .contact-fieldset {
    border-top: 1px solid colors.$mainRed;
  }
}

.contact-fieldset {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-top: 1px solid colors.$weakRed;
  transition: vars.$trs-02;

  .form-legend {
    width: auto;
    text-align: center;
    font-size: 1.10rem;
    font-weight: 400;
    padding: 1rem 0.75rem;
    margin-bottom: 1.25rem;
  }
}

.contact-field {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.form-div {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 1rem;

  .form-div .form-label {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 0.25rem;
  }
}

.form-icon {
  margin-right: 0.25rem;
}

.not-necessary-span {
  margin-left: 0.25rem;
  font-size: 0.8rem;
  font-weight: 300;
}

.form-div input {
  width: 100%;
  font-size: 0.9rem;
  padding: 0.25rem;
  border-bottom: 1px solid colors.$weakRed;
  border-radius: 0.25rem;
  transition: 0.2s linear all;
  margin-bottom: 0.25rem;
  background-color: colors.$whiteSmoke;
  color: colors.$darkRed;

  &:hover {
    border-bottom: 1px solid colors.$red;
  }
  &:focus {
    outline: 1px solid #700000;
    border-bottom: 1px solid transparent;
    box-shadow: 0rem 0.1rem 0.1rem 0rem #252525;
    background-color: colors.$clearWhite;
  }
}

.textarea-div {
  width: 100%;
}

.form-div textarea {
  width: 100%;
  font-size: 0.9rem;
  padding: 0.5rem;
  border: 1px solid colors.$weakRed;
  border-radius: 0.25rem;
  resize: none;
  background-color: colors.$whiteSmoke;
  color: colors.$darkRed;
  transition: vars.$trs-02;

  &:hover {
    border: 1px solid colors.$mainRed;
  }
  &:focus {
    outline: 1px solid colors.$mainRed;
    border: 1px solid transparent;
    background-color: colors.$clearWhite;
    box-shadow: 0rem 0.1rem 0.1rem 0rem colors.$black25;
  }
}

.result-div {
  margin-bottom: 1rem;
  padding-inline: 0.25rem;

  .result-msg {
    font-size: 0.9rem;
  }
}

@media all and (max-width: 480px) {

  #contact-form {
    padding: 0.35rem;
  }

  .form-wrapper {
    width: 90%;
    min-width: 90%;
  }

  .form-legend {
    font-size: 1.05rem;
    padding-inline: 0.5rem;
  }

  .form-div {
    width: 95%;
  }
}

@media all and (min-width: 481px) and (max-width: 767px) {

  #contact-form {
    padding: 0.5rem;
  }

  .form-wrapper {
    width: 80%;
    min-width: 80%;
  }
}

@media all and (min-width: 768px) and (max-width: 959px) {

  .form-wrapper {
    width: 70%;
  }
}

@media all and (max-width: 767px) {

  .contact-fieldset {
    width: 95%;
  }

  .contact-field {
    flex-direction: column;
  }

  .form-div {
    min-width: 100%;
  }

}

@media all and (min-width: 960px) {

  .form-label {
    margin-bottom: 0.35rem;
  }
}