@use '../../includes/colors' as colors;
@use '../../includes/typography' as fonts;
@use '../../includes/variables' as vars;

.dev-signature {
  padding: 0.5rem 1rem;
  border: 1px solid colors.$firstColor;
  border-radius: 3rem;
  transition: vars.$trs-03;
  color: colors.$white;
  font-weight: 500;
  &:hover {
    background-color: colors.$firstColor;
    color: colors.$black;
  }
  &:hover .dev-github {
    color: colors.$fourthColor;
  }
}

.dev-github {
  color: colors.$fifthColor;
  font-weight: 600;
  transition: vars.$trs-03;
  &:focus {
    color: colors.$sixthColor;
  }
}

@media all and (max-width: 375px) {
  .dev-signature {
    font-size: 0.8rem;
  }
}