@use '../../includes/colors' as colors;
@use '../../includes/typography' as fonts;
@use '../../includes/variables' as vars;

.dev-signature {
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  transition: vars.$trs-03;
  &:hover {
    background-color: colors.$thirdColor;
    color: colors.$white;
  }
  &:hover .dev-github {
    color: colors.$slateGray;
  }
}

.dev-github {
  color: colors.$firstColor;
  &:focus {
    color: colors.$darkSlate;
  }
}
