/*     Sass Template     */
* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  background-color: #fefefe;
  scroll-behavior: smooth;
}

main {
  overflow-x: hidden !important;
}

*::selection {
  background-color: #900000;
  color: #f6f6f6;
  text-shadow: none;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
}

a {
  text-decoration: none;
}

p {
  text-wrap: pretty;
}

.subtitle {
  margin-bottom: 0.75rem;
  font-family: "Ubuntu Sans Mono", monospace;
}

.breakline {
  width: 4rem;
  border-top: 5px solid #900000;
  border-radius: 3rem;
  margin-bottom: 3rem;
}

.heading {
  background-color: #900000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.heading .hero-section {
  min-width: 40%;
}
.heading .hero-section .hero-title a {
  color: #f6f6f6;
  transition: 0.2s linear all;
  padding: 0.5rem 0.75rem;
  border-radius: 3rem;
}
.heading .hero-section .hero-title a:hover {
  background-color: #f6f6f6;
  color: #252525;
}

.navigation {
  min-width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navigation .nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #f6f6f6;
}
.navigation .nav-icon {
  vertical-align: middle;
}

.nav-item {
  padding: 0.25rem 0.5rem;
}
.nav-item a {
  color: #f6f6f6;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  border-radius: 3rem;
  transition: 0.2s linear all;
}
.nav-item a:hover {
  color: #252525;
  background-color: #f6f6f6;
}
.nav-item a:focus {
  color: rgb(225, 0, 0);
}

/*---------- to 959px ----------*/
@media all and (max-width: 959px) {
  .heading {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .heading .hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .heading .hero-section .hero-title {
    text-align: center;
    margin-bottom: 1rem;
  }
  .navigation .nav-list {
    width: 100%;
    flex-direction: column;
  }
  .navigation .nav-list .nav-item {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .navigation .nav-list .nav-item a {
    font-size: 1.2rem;
    letter-spacing: 0.15rem;
  }
  /*----- Burger menu -----*/
  .burger-menu {
    height: 100%;
    width: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
  }
  .burger-menu .burger-span {
    width: 3.25rem;
    height: 0.5rem;
    margin-bottom: 0.45rem;
    background-color: #f6f6f6;
    border-radius: 3rem;
  }
  .navigation .hidden {
    display: none;
  }
  .visible {
    display: flex;
  }
  /*----- Hamburger bars animation -----*/
  .burger-span.clicked:nth-child(1) {
    transform: rotate(45deg) translate(1rem, 0.6rem);
    transition: ease-out 0.5s;
  }
  .burger-span.clicked:nth-child(2) {
    transform: scale(0.1);
    transition: ease-out 0.5s;
  }
  .burger-span.clicked:nth-child(3) {
    transform: rotate(135deg) translate(-0.65rem, 0.45rem);
    transition: ease-out 0.5s;
  }
  .burger-span.not-clicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1.15s;
  }
}
.home-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.home-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}
.home-section .dev-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.home-section .dev-description .dev-name {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}
.home-section .dev-description .dev-job {
  margin-bottom: 0.25rem;
  font-family: "Ubuntu Sans Mono", monospace;
  font-size: 2.75rem;
  display: flex;
  align-items: center;
}
.home-section .dev-description .dev-job .dev-job-icon {
  padding-left: 0.25rem;
}
.home-section .dev-description .dev-country {
  font-size: 1.25rem;
}
.home-section .dev-description .dev-para {
  width: 100%;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  line-height: 1.35rem;
}
.home-section .dev-description .dev-para:last-of-type {
  margin-bottom: 1.25rem;
}
.home-section .dev-description .dev-para .email-me {
  color: #900000;
  transition: 0.2s linear all;
  font-weight: 600;
}
.home-section .dev-description .dev-para .email-me:hover {
  color: rgb(225, 0, 0);
}
.home-section .dev-description .dev-para .email-me:hover {
  color: rgb(225, 0, 0);
}
.home-section .dev-description .dev-name, .home-section .dev-description .dev-job, .home-section .dev-description .dev-country {
  width: 100%;
}

.mobile-profile-fig {
  display: none;
}

.profile-fig {
  width: 30%;
  padding: 1rem;
}
.profile-fig .profile-img {
  width: 100%;
  border-radius: 100rem;
}

.dev-buttons-section {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
}

.dev-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4rem;
  text-align: center;
  font-size: 1.25rem;
  padding: 0.75rem;
  border-radius: 3rem;
  background-color: #900000;
  color: #f6f6f6;
  box-shadow: 0rem 0.1rem 0.1rem #252525;
  transition: 0.2s linear all;
}
.dev-btn:hover {
  background-color: rgb(225, 0, 0);
}
.dev-btn:focus {
  background-color: rgb(225, 0, 0);
  color: #dddddd;
  box-shadow: 0rem 0rem 0rem #252525;
}

/*----------- to 480px ----------*/
@media all and (max-width: 480px) {
  .home-section .dev-description {
    max-width: 90%;
    width: 90%;
    padding: 1rem 0rem;
  }
  .home-section .dev-description .dev-name {
    font-size: 1.1rem;
  }
  .home-section .dev-description .dev-para {
    width: 100%;
    padding-left: 0.25rem;
  }
  .mobile-profile-fig {
    width: 60%;
  }
}
@media all and (max-width: 767px) {
  .home-section .dev-description .dev-job {
    font-size: 2rem;
  }
  .home-section .dev-description .dev-para {
    font-size: 1rem;
  }
}
/*----------- 480px to 767px ----------*/
@media all and (min-width: 481px) and (max-width: 767px) {
  .dev-description {
    max-width: 80%;
    width: 80%;
  }
  .mobile-profile-fig {
    width: 65%;
  }
}
/*----------- 768px to 959px ----------*/
@media all and (min-width: 768px) and (max-width: 959px) {
  .dev-description {
    max-width: 75%;
    width: 75%;
  }
  .mobile-profile-fig {
    width: 45%;
  }
  .dev-btn {
    padding-inline: 2rem;
  }
}
/*----------- to 959px ----------*/
@media all and (max-width: 959px) {
  .home-section {
    flex-direction: column;
  }
  .dev-name, .dev-job {
    justify-content: center;
    text-align: center;
  }
  .dev-name, .dev-job, .dev-country {
    text-align: center;
    margin-bottom: 0.75rem;
  }
  .mobile-profile-fig {
    display: flex;
    padding: 0rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .mobile-profile-fig img {
    width: 100%;
  }
  .desktop-profile-fig {
    display: none;
  }
  .dev-buttons-section {
    justify-content: space-evenly;
  }
  .dev-buttons-section .dev-btn {
    margin-right: 0rem;
    font-size: 1.5rem;
  }
}
@media all and (min-width: 960px) {
  .dev-description {
    max-width: 40%;
  }
}
.skills-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow-x: hidden !important;
}
.skills-wrapper .skills-section {
  width: 80%;
}
.skills-wrapper .skills-section h3 {
  font-weight: 500;
  font-size: 1rem;
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  border: 1px solid #900000;
  border-radius: 0.5rem;
  background-color: #f4f4f4;
  transition-property: background-color;
  transition-duration: 0.3s linear all;
}
.skills-container:hover {
  background-color: #900000;
}
.skills-container:hover .skills-name {
  color: #f6f6f6;
}

/*---------- to 479px -----------*/
@media all and (max-width: 480px) {
  .skills-wrapper .skills-section {
    width: 90%;
  }
  .skills-wrapper .skills-section .skills-container {
    justify-content: space-evenly;
  }
}
.skill-icon {
  width: 2.5rem;
  transition: 0.3s linear all;
}
.skill-icon:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.skills-box {
  min-width: 12%;
  text-align: center;
  padding: 0.25rem;
  margin-inline: 0.1rem;
  border: 1px solid transparent;
  border-radius: 0.75rem;
  transition: 0.2s linear all;
}
.skills-box:hover {
  background-color: #f6f6f6;
  border-color: rgba(112, 0, 0, 0.4392156863);
}
.skills-box:hover .skills-name {
  color: #252525;
}

.skills-name {
  margin-bottom: 0.35rem;
  font-size: 0.8rem;
  font-weight: 400;
}

/*---------- to 479px -----------*/
@media all and (max-width: 480px) {
  .skills-box {
    min-width: 25%;
  }
  .skills-box .skills-name {
    font-size: 0.8rem;
  }
}
/*---------- 481px to 767px -----------*/
@media all and (min-width: 481px) and (max-width: 767px) {
  .skills-box {
    min-width: 25%;
  }
}
/*--------- 768px to 959px ----------*/
@media all and (min-width: 768px) and (max-width: 959px) {
  .skills-box {
    min-width: 30%;
  }
}
/*--------- 959px to 1023px ----------*/
@media all and (min-width: 959px) and (max-width: 1200px) {
  .skills-box {
    min-width: 20%;
  }
}
.portfolio-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.portfolio-wrapper .portfolio-title {
  margin-bottom: 1rem;
}

.portfolio-section {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.portfolio-section .projects-title {
  font-family: "Ubuntu Sans Mono", monospace;
  font-weight: 500;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
}

.portfolio-projects {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

/*---------- to 480px ----------*/
@media all and (max-width: 480px) {
  .portfolio-section {
    width: 90%;
  }
}
/*---------- to 480px ----------*/
@media all and (min-width: 481px) and (max-width: 767px) {
  .portfolio-section {
    width: 80%;
  }
}
@media all and (max-width: 767px) {
  .portfolio-projects {
    flex-direction: column;
  }
}
@media all and (min-width: 768px) {
  .portfolio-section .projects-title {
    padding-left: 2rem;
  }
}
@media all and (min-width: 768px) and (max-width: 959px) {
  .portfolio-projects {
    justify-content: space-evenly;
  }
}
.project-div {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0.5rem;
  background-color: #f4f4f4;
  color: #151515;
  border: 1px solid rgba(112, 0, 0, 0.4392156863);
  border-radius: 0.5rem;
  box-shadow: 0rem 0.05rem 0.1rem #252525;
  transition: 0.3s linear all;
}
.project-div:hover {
  box-shadow: 0rem 0.1rem 0.2rem #252525;
}
.project-div .project-name {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  font-family: "Ubuntu Condensed", sans-serif;
}

.project-fig {
  width: 100%;
  margin-bottom: 0.75rem;
}
.project-fig .project-cover-link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 0.5rem;
}
.project-fig .project-cover-link .project-img {
  width: 100%;
  border: 1px solid rgba(112, 0, 0, 0.4392156863);
  border-radius: 0.5rem;
  transition: 0.3s linear all;
}
.project-fig .project-cover-link .project-img:hover {
  transform: scale(1.05);
}

.project-description {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
}

.project-links-div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.project-link {
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #900000;
  color: #f6f6f6;
  padding: 0.25rem 0.5rem;
  border-radius: 3rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Ubuntu Condensed", sans-serif;
  transition: 0.2s linear all;
  box-shadow: 0rem 0.1rem 0.1rem #252525;
}
.project-link:hover {
  background-color: rgb(225, 0, 0);
}
.project-link:focus {
  background-color: rgb(225, 0, 0);
  color: #050505;
  box-shadow: 0rem 0rem 0rem #252525;
}
.project-link .project-link-icon {
  margin-left: 0.25rem;
}

/*---------- to 375px ----------*/
@media all and (max-width: 480px) {
  .project-links-div {
    flex-direction: column;
  }
  .project-links-div .project-link {
    width: 100%;
    margin-bottom: 0.7rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
/*---------- to 480px ----------*/
@media all and (max-width: 480px) {
  .project-div {
    width: 100%;
    padding: 1rem;
  }
}
@media all and (min-width: 481px) and (max-width: 575px) {
  .project-link {
    width: 8rem;
  }
}
@media all and (min-width: 481px) and (max-width: 767px) {
  .project-div {
    width: 100%;
  }
}
@media all and (min-width: 576px) and (max-width: 767px) {
  .project-link {
    width: 11rem;
  }
}
@media all and (max-width: 767px) {
  .project-div {
    margin-bottom: 1.5rem;
  }
}
@media all and (min-width: 768px) and (max-width: 959px) {
  .project-div {
    width: 45%;
  }
  .project-link {
    width: 7rem;
  }
}
@media all and (max-width: 1023px) {
  .project-div {
    margin-bottom: 1.5rem;
  }
}
@media all and (min-width: 960px) and (max-width: 1023px) {
  .project-div {
    width: 45%;
  }
  .project-link {
    width: 6.5rem;
  }
}
.services-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.services-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

@media all and (max-width: 767px) {
  .services-section {
    flex-direction: column;
  }
}
.service-card {
  width: 26%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.25rem 1rem;
  gap: 1rem;
  background-color: #f4f4f4;
  color: #151515;
  border: 1px solid rgba(112, 0, 0, 0.4392156863);
  border-left: 5px solid #900000;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.05rem 0.1rem #252525;
  transition: 0.3s linear all;
}
.service-card:hover {
  border-left-color: rgb(225, 0, 0);
  box-shadow: 0rem 0.1rem 0.3rem #252525;
  background-color: #fefefe;
}
.service-card:hover .service-title {
  color: #424242;
}
.service-card:hover .service-text {
  color: #424242;
}
.service-card .service-fig {
  width: 20%;
}
.service-card .service-fig img {
  width: 100%;
  transition: 0.3s linear all;
}
.service-card .service-fig img:hover {
  cursor: pointer;
  transform: scale(1.1);
  z-index: 10;
}
.service-card .service-title {
  text-transform: capitalize;
  text-align: center;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  transition: 0.3s linear all;
}
.service-card .service-text {
  font-size: 1rem;
  transition: 0.3s linear all;
}

@media all and (max-width: 480px) {
  .service-card {
    width: 90%;
  }
}
@media all and (min-width: 481px) and (max-width: 767px) {
  .service-card {
    width: 80%;
  }
}
@media all and (min-width: 768px) and (max-width: 959px) {
  .service-card {
    width: 35%;
  }
}
.about-wrapper {
  width: 100%;
  min-height: 95vh;
  display: flex;
  justify-content: right;
  align-items: center;
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.about-wrapper::before {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -5;
  background: rgba(112, 0, 0, 0.4392156863);
}
.about-wrapper::after {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -1;
  background-image: url("/images/about-bg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.9;
}

/*---------- to 767px -----------*/
@media all and (max-width: 959px) {
  .about-wrapper {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .about-wrapper::before {
    background: #151515;
  }
  .about-wrapper::after {
    background-image: url("/images/about-bg-mobile.webp");
    background-position: right;
    opacity: 0.3;
  }
}
.about-card {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.about-card .about-card-title {
  margin-bottom: 2.5rem;
  color: #010101;
}
.about-card .about-article {
  margin-bottom: 2rem;
}
.about-card .about-article p {
  width: 95%;
  margin-bottom: 1.25rem;
  color: #010101;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.35rem;
}

.about-card-title, .about-article p {
  text-shadow: 0rem 0rem 0.1rem #f6f6f6;
}

.about-article .about-article-para a {
  color: #900000;
  transition: 0.2s linear all;
}
.about-article .about-article-para a:hover {
  color: rgb(225, 0, 0);
}
.about-article .about-article-para a:focus {
  color: rgb(225, 0, 0);
}

.about-btns-div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.about-btn {
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4rem;
  text-align: center;
  padding: 0.5rem;
  border-radius: 3rem;
  background-color: #900000;
  color: #f6f6f6;
  transition: 0.2s linear all;
  box-shadow: 0rem 0.1rem 0.1rem #252525;
}
.about-btn:hover {
  background-color: rgb(225, 0, 0);
}
.about-btn:focus {
  background-color: rgb(225, 0, 0);
  color: #050505;
  box-shadow: 0rem 0rem 0rem #252525;
}

.react-icon {
  margin-left: 0.25rem;
}

/*---------- to 480px -----------*/
@media all and (max-width: 480px) {
  .about-card {
    width: 90%;
  }
}
/*---------- 481px to 767px -----------*/
@media all and (min-width: 481px) and (max-width: 767px) {
  .about-card {
    width: 80%;
  }
}
@media all and (max-width: 575px) {
  .about-btns-div {
    flex-direction: column;
  }
  .about-btns-div .about-btn {
    width: 100%;
  }
}
@media all and (min-width: 576px) and (max-width: 959px) {
  .about-btns-div {
    justify-content: space-evenly;
  }
}
@media all and (max-width: 767px) {
  .about-card .about-card-title {
    font-size: 1.5rem;
  }
  .about-card .about-article p {
    font-size: 1rem;
  }
}
@media all and (min-width: 768px) and (max-width: 959px) {
  .about-card {
    width: 75%;
  }
}
/*---------- to 959px -----------*/
@media all and (max-width: 959px) {
  .about-card .about-card-title, .about-card .about-article p {
    color: #f6f6f6;
    text-shadow: 0rem 0rem 0.1rem #050505;
  }
  .about-btns-div .about-btn {
    margin-right: 0rem;
    margin-bottom: 0.75rem;
  }
}
.contact-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

@media all and (max-width: 767px) {
  .contact-section {
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0rem;
  }
}
.contact-card {
  width: 65%;
  max-width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.contact-card .contact-card-title {
  margin-bottom: 1.5rem;
}
.contact-card p {
  margin-bottom: 1.5rem;
  line-height: 1.25rem;
}

@media all and (max-width: 480px) {
  .contact-card {
    width: 90%;
    max-width: 90%;
  }
}
@media all and (min-width: 481px) and (max-width: 767px) {
  .contact-card {
    width: 80%;
    max-width: 80%;
  }
}
@media all and (max-width: 767px) {
  .contact-card p {
    margin-bottom: 0.75rem;
  }
}
@media all and (min-width: 768px) and (max-width: 959px) {
  .contact-card {
    width: 70%;
    max-width: 70%;
  }
}
.form-wrapper {
  width: 60%;
  min-width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  border: 1px solid rgba(112, 0, 0, 0.4392156863);
  border-radius: 0.5rem;
  padding: 1.25rem;
  transition: 0.3s linear all;
}
#contact-form:hover {
  border: 1px solid #900000;
  box-shadow: 0rem 0.05rem 0.1rem #252525;
}
#contact-form:hover .contact-fieldset {
  border-top: 1px solid #900000;
}

.contact-fieldset {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-top: 1px solid rgba(112, 0, 0, 0.4392156863);
  transition: 0.2s linear all;
}
.contact-fieldset .form-legend {
  width: auto;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 1rem 0.75rem;
  margin-bottom: 1.25rem;
}

.contact-field {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.form-div {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 1rem;
}
.form-div .form-div .form-label {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
}

.form-icon {
  margin-right: 0.25rem;
}

.not-necessary-span {
  margin-left: 0.25rem;
  font-size: 0.8rem;
  font-weight: 300;
}

.form-div input {
  width: 100%;
  font-size: 0.9rem;
  padding: 0.25rem;
  border-bottom: 1px solid rgba(112, 0, 0, 0.4392156863);
  border-radius: 0.25rem;
  transition: 0.2s linear all;
  margin-bottom: 0.25rem;
  background-color: #f4f4f4;
  color: #650000;
}
.form-div input:hover {
  border-bottom: 1px solid rgb(225, 0, 0);
}
.form-div input:focus {
  outline: 1px solid #700000;
  border-bottom: 1px solid transparent;
  box-shadow: 0rem 0.1rem 0.1rem 0rem #252525;
  background-color: #fefefe;
}

.textarea-div {
  width: 100%;
}

.form-div textarea {
  width: 100%;
  font-size: 0.9rem;
  padding: 0.5rem;
  border: 1px solid rgba(112, 0, 0, 0.4392156863);
  border-radius: 0.25rem;
  resize: none;
  background-color: #f4f4f4;
  color: #650000;
  transition: 0.2s linear all;
}
.form-div textarea:hover {
  border: 1px solid #900000;
}
.form-div textarea:focus {
  outline: 1px solid #900000;
  border: 1px solid transparent;
  background-color: #fefefe;
  box-shadow: 0rem 0.1rem 0.1rem 0rem #252525;
}

.result-div {
  margin-bottom: 1rem;
  padding-inline: 0.25rem;
}
.result-div .result-msg {
  font-size: 0.9rem;
}

@media all and (max-width: 480px) {
  #contact-form {
    padding: 0.35rem;
  }
  .form-wrapper {
    width: 90%;
    min-width: 90%;
  }
  .form-legend {
    font-size: 1.05rem;
    padding-inline: 0.5rem;
  }
  .form-div {
    width: 95%;
  }
}
@media all and (min-width: 481px) and (max-width: 767px) {
  #contact-form {
    padding: 0.5rem;
  }
  .form-wrapper {
    width: 80%;
    min-width: 80%;
  }
}
@media all and (min-width: 768px) and (max-width: 959px) {
  .form-wrapper {
    width: 70%;
  }
}
@media all and (max-width: 767px) {
  .contact-fieldset {
    width: 95%;
  }
  .contact-field {
    flex-direction: column;
  }
  .form-div {
    min-width: 100%;
  }
}
@media all and (min-width: 960px) {
  .form-label {
    margin-bottom: 0.35rem;
  }
}
.form-buttons-div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.form-buttons-div .form-btn {
  width: 11rem;
  border-radius: 3rem;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  color: #f6f6f6;
  text-shadow: 0rem 0rem 0.1rem #252525;
  box-shadow: 0rem 0.1rem 0.1rem #252525;
  transition: 0.2s linear all;
  cursor: pointer;
}
.form-buttons-div .form-btn:focus {
  box-shadow: 0rem 0rem 0rem #252525;
}

.send-btn {
  background-color: rgb(225, 0, 0);
}
.send-btn:hover {
  background-color: #650000;
}
.send-btn:focus {
  background-color: #650000;
}

.reset-btn {
  background-color: #778595;
}
.reset-btn:hover {
  background-color: #284444;
}
.reset-btn:focus {
  background-color: #284444;
}

@media all and (max-width: 376px) {
  .form-buttons-div .form-btn {
    width: 100%;
  }
}
@media all and (max-width: 480px) {
  .form-buttons-div {
    flex-direction: column;
    justify-content: center;
  }
}
@media all and (min-width: 481px) and (max-width: 767px) {
  .form-btn {
    width: 45%;
  }
}
@media all and (max-width: 767px) {
  .form-btn {
    margin-bottom: 1rem;
  }
}
.dev-signature {
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  transition: 0.3s linear all;
}
.dev-signature:hover {
  background-color: #900000;
  color: #f6f6f6;
}
.dev-signature:hover .dev-github {
  color: #778595;
}

.dev-github {
  color: #900000;
}
.dev-github:focus {
  color: #284444;
}

.footer-element {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/*# sourceMappingURL=styles.css.map */
