@use './sass/includes/colors' as colors;
@use './sass/includes/typography' as fonts;
@use './sass/includes/variables' as vars;

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: fonts.$globalFont;
}

html {
  background-color: #f6f6f6;
}

*::selection {
  background-color: colors.$mainRed;
  color: colors.$white;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.subtitle {
  margin-bottom: 1rem;
  font-family: "Ubuntu Sans Mono", monospace;
}

.skill-icon {
  width: 2.75rem;
  transition: 0.2s linear;
}

.skill-icon:hover {
  cursor: pointer;
  transform: scale(1.2);
}