$white: #f6f6f6;
$clearWhite: #fefefe;
$darkBlack: #010101;
$black: #050505;
$black15: #151515;
$black25: #252525;

$gray: #888888;
$grey: #888888;
$lightGray: #dddddd;
$lightGrey: #dddddd;
$darkGray: #505050;
$darkGrey: #505050;
$slateGray: #778595;
$slateGrey: #778595;
$darkSlate: #284444;

$red: rgb(225, 0, 0);
$mainRed: #900000;
$darkRed: #650000;
$weakRed: #70000070;
