$firstColor: #570f0f;
$secondColor: #570f0f;
$thirdColor: #830a0a;
$fourthColor: #d1b3a3;
$fifthColor: #ba6b57;

$bgColor: #fcf2d9;

$white: #f6f6f6;
$clearWhite: #fefefe;
$whiteSmoke: #f4f4f4;
$darkBlack: #010101;
$black: #050505;
$black15: #151515;
$black25: #252525;

$gray: #888888;
$grey: #888888;
$lightGray: #dddddd;
$lightGrey: #dddddd;
$darkGray: #505050;
$darkGrey: #505050;
$darkerGrey: #424242;
$darkerGray: #424242;
$slateGray: #778595;
$slateGrey: #778595;
$darkSlate: #284444;

$red: rgb(225, 0, 0);
$mainRed: #900000;
$darkRed: #650000;
$weakRed: #70000070;
